@tailwind base;
@tailwind components;
@tailwind utilities;

#gradient {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,0.9654455532212886) 0%, rgba(9,114,121,1) 55%, rgba(0,212,255,1) 100%); 
}